.sidebarFull {
	width: $sidebar-width;
}

.sidebarCollapsed {
	width: fit-content;
}

.aside {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 40px 0px;
	height: calc(100dvh - 100px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: $lendsqr-white;
	box-shadow: 0px 5px 20px 0px #0000000a;
}

.asideGroup {
	display: flex;
	flex-direction: column;
}

.asideGroupTitle {
	font-size: $font-size-xs;
	font-weight: 600;
	margin-bottom: 10px;
	margin-left: 27px;
}

.asideLink {
	width: 100%;
	// height: 40px;
	border-left: 3px solid transparent;
	background-color: $lendsqr-white;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: start;
	padding: 10px 27px;
	transition: background-color 0.15s ease-in;
	cursor: pointer;
	text-decoration: none;

	&.active {
		border-left: 3px solid transparent;
		border-color: $lendsqr-teal;
		background-color: rgba($lendsqr-teal, 0.06);
		opacity: 1;
	}

	&.blur {
		opacity: 0.6;
	}

	&:hover {
		background-color: rgba($color: $lendsqr-teal, $alpha: 0.1);
	}
}

.asideLinkText {
	font-size: $font-size-base;
	white-space: nowrap;
	margin-right: -16px;
	font-weight: 500;
	color: $lendsqr-blue;
}

.asideLinkIcon {
	width: 16px;
	height: 16px;
}
