.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainContainer {
    display: flex;
    position: relative;
}

.outletWrapper {
    width: 100%;
    padding: 20px;
    height: calc(100dvh - 100px);
    background-color: $lendsqr-bg;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 55px;

    @include desktop {
        margin-left: 0px;
        padding: 40px;
    }
}
