.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 16px;
	color: $lendsqr-teal;
}

.loadingWave {
	width: 300px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.loadingBar {
	width: 20px;
	height: 10px;
	margin: 0 5px;
	background-color: $lendsqr-teal;
	border-radius: 5px;
	animation: loading-wave-animation 250ms ease-in-out infinite;
}

.loadingBar:nth-child(2) {
	animation-delay: 0.01s;
}

.loadingBar:nth-child(3) {
	animation-delay: 0.02s;
}

.loadingBar:nth-child(4) {
	animation-delay: 0.03s;
}

@keyframes loading-wave-animation {
	0% {
		height: 10px;
	}

	50% {
		height: 50px;
	}

	100% {
		height: 10px;
	}
}
