* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: #545f7d;
}
